
/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

$--background-color-base: darken(#f5f7fa, 3%);

$--color-primary: #474787;
$--color-success: #218c74;
$--color-warning: #ffb142;
$--color-danger:  #ff5252;
$--color-info:    #34ace0;

$--border-color-base: #dcdfe6;
$--border-color-light: #dcdfe6;
$--border-color-lighter: #dcdfe6;
$--border-color-extra-light: #dcdfe6;

* {
	font-family: Roboto, sans-serif;
	font-size: 14px;
	font-weight: 400;
}

body, html {
	padding: 0;
	margin: 0;
	background-color: $--background-color-base;
	max-width: 100vw;
	max-height: 100vh;
	width: 100vw;
	height: 100vh;
}

.warn-table-row {
	background-color: rgb(165, 207, 238) !important;
}

.el-menu-item {
	padding-left: 10px !important;

	.el-tooltip {
		padding-left: 10px !important;
	}
}

.el-menu-item.is-active {
	border-left: 4px solid $--color-warning;
	padding-left: 6px !important;
	background-color: darken($--color-primary, 10%) !important;


	.el-tooltip {
		padding-left: 6px !important;
	}
}

.view-container {
}

@import "~element-ui/packages/theme-chalk/src/index";

